.form-signin {
max-width: 600px;
padding: 19px 29px 29px;
margin: 0 auto 20px;
background-color: #e5e5e5;
border: 1px solid #e5e5e5;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

#grailsLogo {
	background-color: #2e5693;
}

.footer {
	background: #2e5693;
	color: #000;
	clear: both;
	font-size: 0.8em;
	margin-top: 1.5em;
	padding: 1em;
	min-height: 1em;
}

#menu {
    margin: 0;
}
#menu li {
list-style: none;
}
.content {
padding: 10px;
}
#grailsLogo a {
display: block;
height: 77px;
text-align: center;
color: white;
}
#grailsLogo li a {
height: 52px;
padding-top: 25px;
}
#grailsLogo a:hover {
color: black;
text-decoration: none;
background-color: white
}