#grailsLogo {
	background-color: #2e5693;
}

.footer {
	background: #2e5693;
	color: #000;
	clear: both;
	font-size: 0.8em;
	margin-top: 1.5em;
	padding: 1em;
	min-height: 1em;
}

#menu {
    margin: 0;
}
#menu li {
list-style: none;
}
.content {
padding: 10px;
}
#grailsLogo a {
display: block;
height: 77px;
text-align: center;
color: white;
}
#grailsLogo li a {
height: 52px;
padding-top: 25px;
}
#grailsLogo a:hover {
color: black;
text-decoration: none;
background-color: white
}